# 📦 Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# 🧪 Testing
/coverage

# ⚡ Next.js
/.next/
/out/

# 🚀 Production build
/build

# 🗂 Misc
.DS_Store
*.pem
*.log
*.lock

# 🐞 Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 🔑 Environment files (اختیاری: می‌تونی بعضی رو نگه داری)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ▲ Vercel
.vercel

# 📘 TypeScript
*.tsbuildinfo
next-env.d.ts

# 🐳 Docker (اگر استفاده می‌کنی)
docker-compose.override.yml
.dockerignore

# 🧹 IDE / Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
